@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");
/* font-family: 'Kalam', cursive; */

:root {
  --blue: #231f42;
  --green: #37adab;
  --greenHover: #329997;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  margin: 1rem 2rem;
  font-family: helvetica;
}

body {
  background-color: var(--blue);
  color: white;
  user-select: none;
}

body::-webkit-scrollbar {
  display: none;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1.5rem;
}
