/* flex container */
.vertical-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

/* flex items */
.vertical-layout main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
