@import "../../sass/colors";
@import "../../sass/fonts";
@import "../../sass/mixins";
@import "../../sass/cardMixins";

.card {
  @include cardDefaultStyle;

  background-color: orange;

  // margin: -5rem 0;
  text-shadow: -1px 0 0 rgba(141, 141, 141, 0.548);

  &:hover {
    box-shadow: 0 0 10px black;
    cursor: pointer;
  }

  &:not(:last-child) {
    margin-bottom: -9rem;
  }

  &__chip-and-vendor-container {
    display: flex;
    justify-content: space-between;

    // chip (img)
    :first-child {
      width: 40px;
    }

    // vendor (img)
    :last-child {
      width: 25px;
      align-self: start;
    }
  }

  &__cart-number {
    text-align: center;
    font-size: 22px;
    letter-spacing: 2px;
  }

  &__card-holder-name-and-valid-thru-container {
    display: flex;
    justify-content: space-between;
  }

  &__cardholder-name-container {
    display: flex;
    gap: 0.4rem;
    flex-direction: column;
    align-items: flex-start;

    :first-child {
      font-size: 12px;
    }

    :last-child {
      font-size: 18px;
    }
  }

  &__valid-thru-container {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    align-items: flex-end;
    justify-content: flex-end;

    :first-child {
      font-size: 12px;
    }

    :last-child {
      font-size: 18px;
    }
  }
}
