.video-recorder {
  display: flex;
  flex-direction: column;
  align-items: center;

  .video-container {
    margin: 20px;
    width: 100%;
    max-width: 400px;
    max-height: 250px;
    border: 2px solid #ef76ff80;
    box-shadow: 1px 1px 10px rgb(65, 32, 184);
    border-radius: 8px;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    video {
      width: 100%;
    }
  }

  .controls {
    display: flex;
    gap: 1rem;

    button {
      padding: 10px 20px;
      border: 1px solid rgba(231, 68, 95, 0.808);
      color: white;
      border-radius: 5px;
      box-shadow: 2px 2px 2px rgba(0, 0, 255, 0.363);
      font-size: 18px;
      background-color: transparent;
      cursor: pointer;
      transition: 0.2s ease-in-out;

      &:hover {
        background-color: rgba(0, 0, 0, 0.349);
        transform: scale(1.1);
      }

      &:active {
        transform: translateY(3px);
      }
    }
  }

  .recorded-videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;

    video {
      margin: 10px;
      width: 240px;
      border: 1px solid #ccc;
      border-radius: 8px;
    }
  }
}

////////////////////////////////////
//        | MEDIA QUERY |         //
///////////////////////////////////
/*✘| SMALL / MOBILE |✘*/
@media only screen and (min-width: 0px) and (max-width: 600px) {
  .controls {
    flex-direction: column;
  }
}
