form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.inputs-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

/* -------------------------------- */
/* INPUT & BUTTON */
.inputs-container > input,
.new-meme-btn {
  border-radius: 6px;
  border: none;
  font-family: "Karla", sans-serif;
}

/* INPUT */
.inputs-container > input {
  height: 2rem;
  width: 100%;
  padding: 0 0.5rem;
  font-size: 15px;
}

/* BUTTON */
.new-meme-btn {
  font-size: 16px;
  background: linear-gradient(90deg, rgb(131, 47, 161), rgb(194, 96, 230));
  color: white;
  height: 2.5rem;
  font-weight: bold;
}

/* BUTTON:HOVER */
.new-meme-btn:hover {
  cursor: pointer;
  background: linear-gradient(90deg, rgb(116, 42, 143), rgb(170, 84, 201));
}
/* -------------------------------- */

/* .·:*¨ ✘•|  MEDIA QUERY  |•✘ ¨*:·.  */
/* ✘•| MOBILE |•✘ */
@media only screen and (min-width: 0px) and (max-width: 499px) {
  .inputs-container > input {
    font-size: 10px;
  }

  .new-meme-btn {
    font-size: 13px;
  }
}
