.App {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  min-height: 100vh;
}

.App button {
  background-color: transparent;
  border: none;
  border: 1px solid white;
  padding: 1rem 2rem;
  color: wheat;
  font-size: 1.2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

.App button:hover {
  background-color: grey;
  cursor: pointer;
}

body {
  background-color: rgb(20, 20, 20);
  color: white;
  overflow: hidden;
}
