.special-people-list {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;

  &__ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    @media screen and (max-width: 1000px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
