* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: Wheat;
}

main {
  flex: 1;
  background-color: rgb(17, 17, 17);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  padding: 2rem;
  background-color: rgb(44, 44, 44);
  display: flex;
  justify-content: center;
}

#input-number {
  width: 10rem;
  height: 1rem;
  margin: 0 auto;
  padding: 1rem;
  font-size: 1rem;
}

button {
  width: 100px;
  height: 50px;
  margin: 0 auto;
}
