// Default card...
@mixin cardDefaultStyle {
  @include fontFamilyPTMono;
  width: 350px;
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.3rem;
  border: 1px solid $black;
  border-radius: 10px;
  padding: 1.5rem;
  text-shadow: -1px 0 0 rgba(141, 141, 141, 0.548);
}
