:root {
  --AnimationsDarkBlue: #19a0c2;
  --AnimationsMediumBlue: #42b6d2;
  --AnimationsLightBlue: #71cfe2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;

  background-color: var(--AnimationsDarkBlue);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  overflow: hidden;
}

.heading-1,
.heading-2 {
  font-size: 50px;
  background: -webkit-linear-gradient(
    45deg,
    rgb(209, 81, 81),
    rgb(157, 71, 255)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 1rem;
  /* What animation do we want to use? */
  /* animation-name: slideInLeft; */

  /* The duration to complete 1 lap */
  /* animation-duration: 1s; */

  /* animation-curve */
  /* animation-timing-function: ease-in; */

  /* Do you want to delay your animation to start? */
  /* animation-delay: 0s; */

  /* How many times we want the animation to run | 1, 2... & Infinite |*/
  /* animation-iteration-count: 1; */

  /* Do we want the animation to be normal or reversed? */
  /* animation-direction: normal; */

  /* ? */
  /* animation-fill-mode: none; */

  /* SHORTHAND */
}

/* From is when its 0% completed, to is when its 100% completed */
/* The name slideInLeft is the name of the keyframe, you can use whatever you want! */
.slideInFromLeft {
  animation: slideInFromLeft 1s ease-in 0s 1 normal none;
}

.slideInFromRight {
  animation: slideInFromRight 1s ease-in 0s 1 normal none;
}

.rotate {
  animation: rotate 100s infinite linear;
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-300px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(300px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
