:root {
  --black: #0f0f0f;
  --white: #fff;
  --red: #ff3c3c;
}

body {
  background-color: var(--black);
  color: var(--white);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  /* min-height: 100vh; */
  /* border: 3px solid var(--red); */
}
