@import "../../sass/fonts";
@import "../../sass/colors";

.header {
  @include fontFamilySourceSansPro;
  &__title {
    font-size: 30px;
    width: 350px;
    text-align: center;
    margin-bottom: 2rem;
  }
}
