@import "../../sass/fonts";
@import "../../sass/colors";

.header {
  @include fontFamilySourceSansPro;
  &__title {
    font-size: clamp(30px, 6vw, 60px);
    width: 350px;
    text-align: center;
  }
}
