@import "../../sass/colors";
@import "../../sass/fonts";

.form {
  @include fontFamilyPTMono;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  max-width: 350px;

  &__input,
  &__select {
    padding: 1rem;
    border: 1px solid hsla(0, 0%, 0%, 0.815);
    border-radius: 8px;
  }

  &__label {
    font-size: 12px;
    color: #000000cc;
  }

  &__group {
    display: flex;
    flex-direction: column;
  }

  &__group-valid-and-ccv {
    display: flex;
    justify-content: space-between;
  }

  &__group-valid {
    display: flex;
    flex-direction: column;
    width: 45%;
  }
  &__group-ccv {
    display: flex;
    flex-direction: column;
    width: 45%;
  }
}
