@import "../../sass/colors";
@import "../../sass/fonts";
@import "../../sass/mixins";

.form {
  @include fontFamilyPTMono;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  max-width: 350px;

  &__input,
  &__select {
    padding: 1rem;
    border: 1px solid hsla(0, 0%, 0%, 0.815);
    border-radius: 8px;
    font-size: 14px;

    &::placeholder {
      font-style: italic;
      color: rgb(158, 158, 158);
    }
  }

  &__label {
    @include labelStyle;
  }

  &__group {
    display: flex;
    flex-direction: column;
  }

  &__group-valid-and-ccv {
    display: flex;
    justify-content: space-between;
  }

  &__group-valid {
    display: flex;
    flex-direction: column;
    width: 45%;
  }
  &__group-ccv {
    display: flex;
    flex-direction: column;
    width: 45%;
  }
}
