@import "../../sass/colors";
@import "../../sass/fonts";
@import "../../sass/mixins";
@import "../../sass/cardMixins";

.new-card {
  @include cardDefaultStyle;

  &__chip-and-vendor-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    // chip (img)
    :first-child {
      width: 40px;
    }

    // vendor (img)
    :last-child {
      width: 25px;
    }
  }

  &__card-number-sections-container {
    display: flex;
    justify-content: space-between;
  }

  &__cart-number {
    text-align: center;
    font-size: 22px;
    letter-spacing: 2px;
  }

  &__card-holder-name-and-valid-thru-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__valid-thru-mm-and-yy-container {
    display: flex;
    font-size: 16px;
  }

  &__firstname-and-lastname-container {
    display: flex;
    font-size: 16px;
    gap: 0.4rem;
  }

  &__cardholder-name-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.1rem;
  }

  &__cardholder-name {
    font-size: 12px;
  }

  &__valid-thru-txt {
    font-size: 12px;
  }

  &__valid-thru-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 16px;
    gap: 0.1rem;
  }
}

.text-shadow {
  text-shadow: 0px 0px 0.4px black;
}
