@import "../../sass/colors";
@import "../../sass/fonts";

.new-card {
  @include fontFamilyPTMono;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  border: 1px solid black;

  border-radius: 10px;
  padding: 1.5rem;
  background-color: rgb(142, 142, 142);
  width: 340px;
  height: 210px;

  &__chip-and-vendor-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    // chip (img)
    :first-child {
      width: 40px;
    }

    // vendor (img)
    :last-child {
      width: 25px;
    }
  }

  &__cart-number {
    text-align: center;
    font-size: 22px;
    letter-spacing: 2px;
  }

  &__card-holder-name-and-valid-thru-container {
    display: flex;
    justify-content: space-between;
  }

  &__valid-thru-mm-and-yy-container {
    display: flex;

    :nth-child(1) {
      font-size: 18px;
    }
    :nth-child(2) {
      font-size: 18px;
    }
  }

  &__cardholder-name-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    :nth-child(1) {
      font-size: 12px;
    }
  }

  &__valid-thru-txt {
    font-size: 12px;
  }

  &__valid-thru-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
  }
}

.text-shadow {
  text-shadow: 0px 0px 0.4px black;
}
