.cart {
  display: flex;
}

.cart__cart-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
  height: 30px;
  width: 30px;
  color: white;
}

.cart__products-in-cart {
  display: flex;
  border: 1px solid white;
  height: 30px;
  width: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: white;
}
