@import "../../sass/fonts";
@import "../../sass/colors";
@import "../../sass/mixins";

.person-card {
  @include fontFamilyFiraSans;
  @include cartsFlexSettings;

  width: 280px;

  &__image {
    width: 100%;
    height: 250px;
  }

  &__title {
    @include titleTextStyle;
  }

  &__description {
    @include descriptionTextStyle;
  }

  &__button {
    @include ohTakeMyButtonStyle;
    font-weight: 700;
  }
}
