.book-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-top: 2rem;
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  .book-page {
    flex-direction: column;
  }
}
