.book {
  height: 16rem;
  width: 13rem;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: center;
  padding: 0 25px;
  text-align: center;
  box-shadow: 1px 1px 3px rgb(0, 0, 0);

  position: relative;
  transition: 100ms ease-in-out;
  cursor: pointer;
}

.book:hover {
  transform: scale(1.04);
  box-shadow: 0 0 10px rgb(80, 80, 80);
}

.book::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: rgb(78, 78, 78);
}

.book__title {
  font-size: 1.3rem;
  font-weight: 600;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.737);
}

.book__author {
  font-size: 1rem;
  font-style: italic;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.485);
}
