.product {
  text-align: center;
  padding: 1rem 3rem;
  margin: 2rem 0;
  box-shadow: 3px 3px 5px black;
  border-radius: 5px;
  max-width: 400px;
  border: 2px solid black;
  background: linear-gradient(180deg, white, var(--blue));
}

.product__title {
  font-size: 30px;
}

.product__author {
  font-size: 15px;
}

.product__about {
  margin-top: 2rem;
  font-style: italic;
}

.product__button {
  margin-top: 2rem;
  padding: 1rem 2rem;
  background-color: var(--green);
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.product__button:hover {
  background-color: var(--greenHover);
  cursor: pointer;
}
