@import "../../sass/colors";
@import "../../sass/fonts";
@import "../../sass/mixins";

.homepage {
  @include flexColumnCenter;
  min-height: 100vh;
  justify-content: space-between;
  gap: 1rem;

  &__description {
    @include descriptionStyle;
  }

  &__active-card-text {
    @include labelStyle;
  }

  &__add-a-new-card-button {
    @include buttonStyle;
    border: 2px solid black;
    background-image: linear-gradient(90deg, white 50%, black 50%);
    margin-bottom: 2rem;

    &:hover {
      color: $white;
      background-position: 100%;
      cursor: pointer;
    }
  }
}
